# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local env files
*.auto.tfvars
*.tfvars
!*.example

# Node artifacts (workspace level)
node_modules/
